<div class="container pt-5 mt-5">
  <h2 class="h2 pb-3">Register</h2>
  <%- include('./partials/_messages') %> 
  <form action="/user/register" method="post">
    <div class="form-group">
      <label for="username">Username</label>
      <input 
        type="username" 
        class="form-control mb-3" 
        id="username" 
        name="username" 
        value="<%= typeof username != 'undefined' ? username : '' %>"
        required
      />
    </div>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input 
        type="email" 
        class="form-control mb-3" 
        id="email" name="email" 
        placeholder="name@email.com" 
        value="<%= typeof email != 'undefined' ? email : '' %>"
        required
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input 
        type="password" 
        class="form-control mb-3" 
        id="password" 
        name="password" 
        value="<%= typeof password != 'undefined' ? password : '' %>"
        required
      />
    </div>
    <div class="form-group">
      <label for="password2">Confirm Password</label>
      <input 
        type="password" 
        class="form-control mb-3" 
        id="password2" 
        name="password2" 
        value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
        required
      />
    </div>
    <div class="form-group d-grid gap-2">
      <button type="submit" class="btn btn-secondary btn-lg mt-2">
        Register
      </button>
      <span class="text-center">
        - or -
      </span>
      <a href="/auth/google" class="btn btn-outline-dark btn-lg">
        Continue with <i class="bi bi-google"></i>oogle 
      </a>
    </div>
  </form>
  <p class="lead mt-5 text-center">Have an Account? <a href='/auth/login' >Login</a></p>
</div>

